@font-face {
    font-family: 'Haettenschweiler';
    font-style: normal;
    font-weight: normal;
    src: local('Haettenschweiler'),
         url('Haettenschweiler.ttf.woff') format('woff'),
         url('Haettenschweiler.ttf.eot') format('eot')
}